---
title: 关于
---

{% contentfor footer %}
  {% include widgets/social.html %}
  {% include widgets/toc.html %}
{% endcontentfor %}

<p>本站的源码托管于 <a href="https://github.com/f2eso/fes" target="_blank" rel="external nofollow">GitHub</a>，如果发现任何问题，可以提 <a href="https://github.com/f2eso/fes/pulls" target="_blank" rel="external nofollow">PR</a> 哦～</p>
<h2>站名含义</h2>
<p>本站名称为「FES」，很明显是英文首字母缩写。那么，它们是什么呢？目前有两个：</p>
<ol>
  <li><strong>F</strong>ront-end Knowledge & Skill <strong>E</strong>valuating <strong>S</strong>ystem</li>
  <li><strong>F</strong>ront-end <strong>E</strong>ngineer <strong>S</strong>tandardization</li>
</ol>
<p>前者是「前端知识与技能考核评价体系」，后者是「前端工程师标准化」。未来到底是哪个，我也不清楚，但现在是以前者在作用。</p>
<h2>数据来源</h2>
<p>面试题相关的数据来自开源项目「<a href="https://github.com/f2eso/interview" target="_blank" rel="external nofollow">Interview Hacker</a>」，希望大家能够秉承「人人为我，我为人人」的精神踊跃参与题库的建设！</p>
