@import "../helper";
@import "../components/subject";



.Widget--tags .Widget-body {
  ul {
    list-style: none inside none;
    margin: 0 -3px;
    padding-left: 0;
    @include pie-clearfix;
  }

  li {
    float: left;
    padding: 2px 4px;
  }

  a {
    display: inline-block;
    padding: 1px 8px;
    font: {
      size: 12px;
      weight: 400;
    }
    background-color: #cfe5f0;
    border-radius: 2px;

    &:hover {
      text-decoration: none;
      color: #fff;
      background-color: #0871ab;
    }
  }
}
