<ul class="QuestionList">
  {% assign questions = site.data.interview.categorized-questions[include.type].questions[include.condition] %}
  {% for question in site.data.interview.questions reversed %}
    {% assign q = question[1] %}
    {% if questions contains question[0] %}
      <li class="QuestionList-item InterviewQuestion">
        <h3 class="InterviewQuestion-title" data-toc-skip="true">{% if q.answered != true %}<span class="QuestionTag QuestionTag--unanswered">未作答</span>{% endif %}<a href="/interview/questions/{{ question[0] }}/">{{ q.title }}</a></h3>
        <div class="InterviewQuestion-footer"><i class="fa fa-pencil"></i><time datetime="{{ q.date | date_to_xmlschema }}">{{ q.date | date: "%F" }}</time><div class="InterviewQuestion-tags">
            {% for tag in q.tags %}<a href="/interview/tags/{{ tag }}/">{{ site.data.interview.tags[tag].title }}</a>{% endfor %}
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
