<ul class="SubjectList row">
  {% assign categorized = site.data.interview.categorized-questions %}
  {% assign subjects = site.data.interview.subjects %}
  {% for k in categorized.subject.sequence %}
    {% if categorized.subject.questions[k].size > 0 %}
      <li class="SubjectList-item col-xs-6 col-sm-4 col-md-3">
        <a class="QuestionSubject" href="/interview/subjects/{{ k }}/" style="background-image: url('{{ subjects[k].thumbnail | asset_path }}');">
          <div class="QuestionSubject-content">
            <h3 class="QuestionSubject-title" data-toc-skip="true">{{ subjects[k].title }}</h3>
            <p class="QuestionSubject-description">共 {{ categorized.subject.questions[k].size }} 题</p>
          </div>
          <div class="QuestionSubject-overlay"></div>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
